div.card{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;

  width: 128px;
  height: 64px;

  z-index: 4;
  opacity: 0.98;
}
.tap{
  position: fixed;
  bottom: 10px;
  left: 100px;
  right: 100px;
  z-index: 5;
}
.blackall{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #000;
  opacity: 0.0;
  z-index: 5;
  visibility: hidden;
}
